global:
  scrape_interval: 5s
  scrape_timeout: 5s
  evaluation_interval: 1m
  metric_name_validation_scheme: utf8

runtime:
  gogc: 75

# ==============================================
# 1) SCRAPE CONFIGS
# ==============================================
scrape_configs:

  # --- Scrape du backend Spring Boot (ms-soins-sante) ---
  - job_name: "ms-soins-sante"
    metrics_path: /actuator/prometheus
    scheme: http
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets:
          - "192.168.58.121:8080"
        labels:
          application: "ms-soins-sante"

  # --- Scrape de Alertmanager ---
  - job_name: "alertmanager"
    metrics_path: "/metrics"
    static_configs:
      - targets:
          - "alertmanager:9093"

# ==============================================
# 2) ALERTING (liaison Prometheus → Alertmanager)
# ==============================================
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

# ==============================================
# 3) RÈGLES D'ALERTES
# ==============================================
rule_files:
  - "/etc/prometheus/alert-rules.yml"

# ==============================================
# 4) OTLP (optionnel)
# ==============================================
otlp:
  translation_strategy: UnderscoreEscapingWithSuffixes
